/* Custom properties */
:root {
    --ms_primary-color: rgb(44 62 80);
    --ms_secondary-color:rgb(26 188 156);
    --ms_tertiary-color: rgb(58 84 109);
    --ms_dark-title: rgb(51 51 51);
    --ms_header-height: 5rem;
    --ms_primary-text-color: white;
}

/* COMMON */
img {
    max-width: 100%;
}

.ms_line-star {
    display: inline-block;
    border-radius: 10px;
    width: 85px;
    border: 2px solid;
    opacity: 1;
}

/* HEADER */
.ms_header-nav {
    background-color: var(--ms_primary-color);
    height: var(--ms_header-height);
    color: var(--ms_primary-text-color);
}

.ms_header-nav a {
    color: inherit;
}

.ms_header-nav .navbar-toggler {
    color: var(--ms_primary-text-color);
}

/* MAIN */
main {
    padding-top: calc(var(--ms_header-height));
}

/* Hero */
.ms_hero {
    background-color: var(--ms_secondary-color);
    color: var(--ms_primary-text-color);
}

.hero-img {
    max-width: 400px;
}
/* Portfolio */
.ms_portfolio h2 {
    color: var(--ms_dark-title);
}

.ms_portfolio {
    color: var(--ms_primary-color);
}

/* About */
.ms_about {
    background-color: var(--ms_secondary-color);
    color: var(--ms_primary-text-color);
}

/* Contact me */
.ms_contact-me {
    color: var(--ms_primary-color);
}

.ms_contact-me h2 {
    color: var(--ms_dark-title);
}

.ms_form-input {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--ms_primary-color);
}

.ms_contact-me form .btn {
    background-color: var(--ms_secondary-color);
    color: var(--ms_primary-text-color);
}
/* FOOTER */
.ms_footer-top .ms_footer-links a {
    color: inherit;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.ms_footer-top {
    background-color: var(--ms_tertiary-color);
    color: var(--ms_primary-text-color);
}

.ms_footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.bootstrap-link {
    color: var(--ms_secondary-color);
}

.footer-bottom {
    background-color: var(--ms_primary-color);
    color: var(--ms_primary-text-color);
}
