/* Custom properties */
:root {
    --primary-color: rgb(44 62 80);
    --secondary-color:rgb(26 188 156);
    --dark-title: rgb(51 51 51);
    --header-height: 5rem;
    --color-white: white;
}

/* COMMON */
img {
    max-width: 100%;
}

/* Debug */
[class*="col-"] {
    border: 1px solid black;
}

.col-12 {
    min-height: 200px;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    height: var(--header-height); 
    color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header .container-md, header .row {
    height: var(--header-height);
}

/* MAIN */
main {
    padding-top: calc(var(--header-height));
}

/* Hero */
.hero .container {
    max-width: 500px;
}

.hero {
    background-color: var(--secondary-color);
    /* Debug */
    min-height: 300px;
}

.hero-img {
    max-width: 70%;
}

/* Portfolio */


/* About */
.about {
    background-color: var(--secondary-color);
    color: var(--color-white);
    /* Debug */
    min-height: 300px;
}

.about .container-sm {
    width: 65%;
}

.about h3 {
    color: var(--dark-title);
}